<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>抽卡模拟器</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>🎴你说的对，但是《传奇果蝇王》是由李岩自主研发的<br>
        一款全旧闭合房屋冒险游戏。游戏发生在一个被称作<br>
        「2209」的真实房屋，在这里，被李岩选中的人将被授予<br>
        「蝇之眼」，导引果蝇之力。你将扮演一位名为「研究生」<br>
        的大众角色，在自由的工作中邂逅性格各异、能力独特的<br>
        同伴们，和他们一起击败强敌，找回飞走的果蝇<br>——同时，逐步发掘「神经生物学」的真相</h1>

    <div class="button-container">
        <button onclick="drawCard(1)">手气不错</button>
        <button onclick="drawCard(5)">五倍手气不错</button>
        <a href="gallery"><button>查看我的画廊</button></a>
        <a href="collections"><button>查看集卡进度</button></a>
    </div>

    <div id="result" class="gacha-results"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
